name: CI/CD Pipeline

on:
  push:
    branches: [ main, feature/complete-api ]
  pull_request:
    branches: [ main ]

jobs:
  build-test-scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run unit tests
      run: |
        pytest -v tests/ 

    - name: Run linter (flake8)
      run: |
        flake8 app.py --max-line-length=120

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    
    - name: Build and push Docker image
      run: |
        docker buildx build \
         --push \
         -t ${{ secrets.DOCKER_USERNAME }}/devops-api:latest \
         -t ${{ secrets.DOCKER_USERNAME }}/devops-api:${{ github.sha }} \
         .

    - name: Security scan with Trivy
      uses: aquasecurity/trivy-action@0.24.0
      with:
        image-ref: ${{ secrets.DOCKER_USERNAME }}/devops-api:latest
        format: table
        exit-code: '1'
        severity: CRITICAL,HIGH